.ul-lista {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.li-lista {
  background-color: var(--color-span);
  border-radius: 5px;
  padding: 8px;
  transition: 0.3s;
}

.li-lista span {
  text-align: justify;
  min-width: 100%;
  font-weight: bold;
  font-size: 14px;
  color: var(--color-gray);
  text-transform: capitalize;
}

.btn-tarefas {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.concluido {
  background-color: var(--color-gray);
}

.concluido span {
  text-decoration: line-through;
  color: var(--color-span);
}
